


.backgroundImages{
   

    


   width: 100%;
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   backface-visibility: hidden;
   animation: bounce 1s infinite alternate;
   -webkit-animation: bounce 1s infinite alternate;
   background-image: url('../public/images/algarve.jpg');
   opacity: 0.8;
   transition: 0.3s;
   



     @keyframes bounce{
      0%{
         background-image:  url('../public/images/algarve.jpg');
         opacity: 0.8;
         transform: translateY(0) scaleY(1);
      }
      25%{
         background-image:  url('../public/images/espanha.jpg');
         opacity: 0.8;
      }
      50%{
        background-image:  url('../public/images/paris.jpg');
        opacity: 0.8;
      }
      75%{
        background-image:  url('../public/images/alemanha.jpg');
        opacity: 0.8;
      }
      100%{
      background-image:  url('../public/images/italia.jpg');
      opacity: 0.8;
      }
     }
   }

