


.backgroundImages{
   

    


   width: 100%;
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   backface-visibility: hidden;
   animation: pulse 5s infinite;
   animation-timing-function: step-end;
   background-image: url('../public/images/algarve.jpg');
   



     @keyframes slideBg{
      0%{
         background-image:  url('../public/images/algarve.jpg');
      }
      25%{
         background-image:  url('../public/images/espanha.jpg');
      }
      50%{
        background-image:  url('../public/images/paris.jpg');
      }
      75%{
        background-image:  url('../public/images/alemanha.jpg');
      }
      100%{
      background-image:  url('../public/images/italia.jpg');
      }
     }
   }

